# Object files
*.o
*.ko

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

fcs/Debug
fcs/Release
*.DS_Store
*.lock
*.log
*.qmsg
*.bak
cpld/db
cpld/incremental_db
cpld/output_files
.metadata
