# Object files
*.o
*.ko

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CCS/CMake junk
fcs/Debug
fcs/Release
*.DS_Store
*.lock
*.log
*.qmsg
*.bak
cpld/db
cpld/incremental_db
cpld/output_files
.metadata

# TI tool build junk
fcs/ccs-scripts/b2i2c
fcs/ccs-scripts/bconvert64x
fcs/ccs-scripts/byteswapccs
fcs/ccs-scripts/romparse/romparse
