# /etc/systemd/system/fcsdump.service

[Unit]
Description=FCS dump

[Service]
Type=simple
User=root
Group=root
ExecStart=/root/fcsdump /root/log/
TimeoutSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
